<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="Users" type="com.chinasoft.news.entity.Users" />
		<typeAlias alias="FirstTitle" type="com.chinasoft.news.entity.FirstTitle" />
		<typeAlias alias="SecondTitle" type="com.chinasoft.news.entity.SecondTitle" />
	</typeAliases>
	
	<mappers>
		<mapper resource="com/chinasoft/news/mapper/usersMapper.xml" />
		<mapper resource="com/chinasoft/news/mapper/firstTitleMapper.xml" />
		<mapper resource="com/chinasoft/news/mapper/secondTitleMapper.xml" />
	</mappers>

</configuration>  