<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chinasoft.news.mapper.UsersMapper">
  
  <resultMap type="Users" id="UsersResult">
    <id column="userId" property="userId"/>
    <result column="username" property="username"/>
    <result column="password" property="password"/>
    <result column="txUrl" property="txUrl"/>
  </resultMap>

  <select id="selectUsersByNameByPass" resultMap="UsersResult">
    select * from users where username=#{username} and password=#{password}
  </select>
  
  <!-- 插入 --> 
  <insert id="insertUsers" parameterType="Users">
    <selectKey keyProperty="userId" resultType="int" order="BEFORE">  
      select users_seq.nextval from dual
    </selectKey>  
    insert into users values(${userId},
                                  #{username,jdbcType=VARCHAR},
                                  #{password,jdbcType=VARCHAR},
                                  #{txUrl,jdbcType=VARCHAR})
  </insert>

</mapper>
