<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
<!-- news type servlet config -->
  
  <servlet>
  	<servlet-name>UserExist</servlet-name>
  	<servlet-class>com.servlet.user.UserExistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserExist</servlet-name>
  	<url-pattern>/user/UserExist.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserLogin</servlet-name>
  	<servlet-class>com.servlet.user.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserLogin</servlet-name>
  	<url-pattern>/user/UserLogin.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserInSession</servlet-name>
  	<servlet-class>com.servlet.user.UserInSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserInSession</servlet-name>
  	<url-pattern>/user/UserInSession.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserLogout</servlet-name>
  	<servlet-class>com.servlet.user.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserLogout</servlet-name>
  	<url-pattern>/user/UserLogout.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserModifyPwd</servlet-name>
  	<servlet-class>com.servlet.user.UserModifyPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserModifyPwd</servlet-name>
  	<url-pattern>/user/UserModifyPwd.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserModify</servlet-name>
  	<servlet-class>com.servlet.user.UserModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserModify</servlet-name>
  	<url-pattern>/user/UserModify.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserRegister</servlet-name>
  	<servlet-class>com.servlet.user.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserRegister</servlet-name>
  	<url-pattern>/user/UserRegister.action</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>Enjoys</servlet-name>
  	<servlet-class>com.servlet.enjoy.EnjoysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Enjoys</servlet-name>
  	<url-pattern>/enjoy/Enjoys.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EnjoyDel</servlet-name>
  	<servlet-class>com.servlet.enjoy.EnjoyDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EnjoyDel</servlet-name>
  	<url-pattern>/enjoy/EnjoyDel.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EnjoyAdd</servlet-name>
  	<servlet-class>com.servlet.enjoy.EnjoyAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EnjoyAdd</servlet-name>
  	<url-pattern>/enjoy/EnjoyAdd.action</url-pattern>
  </servlet-mapping>
  
  
  <filter>
  	<filter-name>UserFilter</filter-name>
  	<filter-class>com.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>UserFilter</filter-name>
  	<url-pattern>/enjoy/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>UserFilter</filter-name>
  	<url-pattern>/user/UserModifyPwd.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>UserFilter</filter-name>
  	<url-pattern>/user/UserModify.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>UserFilter</filter-name>
  	<url-pattern>/user/UserInSession.action</url-pattern>
  </filter-mapping>
  
</web-app>
