<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.OrdersMapper">

  <resultMap type="orders" id="ordResultMap">
    <id property="oid" column="oid"/>
    <result property="userId" column="userid"/>
    <result property="createTime" column="createtime"/>
    <collection property="productsList" ofType="products">   
      <id property="pid" column="pid"/>
      <result property="productName" column="productname"/>
      <result property="productPrice" column="productprice"/>
    </collection>
  </resultMap>

  <!-- 
            使用resultMap方式实现多对多查询
  -->
  <select id="selectOrdersAll" resultMap="ordResultMap">
    select o.*,
           p.pid,
           p.productname,
           p.productprice
    from orders o,products p,r_ord_pro r 
    where o.oid=r.r_oid and 
          p.pid=r.r_pid
    order by o.oid      
  </select>
  
</mapper>
