<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chinasoft.news.mapper.IFirstTitleMapper">

  <select id="selectFirstTitleAll" resultType="firstTitle">
    select * from firsttitle order by fid
  </select>
  
  <select id="selectFirstTitleById" parameterType="int" resultType="firstTitle">
    select * from firsttitle where fid=#{param}
  </select>
  
  <insert id="insertFirstTitle" parameterType="firstTitle">
    insert into firsttitle values(first_seq.nextval,#{titleName},#{creator},#{createTime})
  </insert>
  
  <update id="updateFirstTitle" parameterType="firstTitle">
    update firsttitle set titlename = #{titleName}, creator = #{creator}, createtime = #{createTime} where fid = #{fid}
  </update> 
  
  <delete id="deleteFirstTitleById" parameterType="int">
    delete firsttitle where fid = #{fid}
  </delete> 
  
</mapper>
